// https://getbootstrap.com/docs/4.0/components/navbar/
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-xl
    a.navbar-brand.st-brand(href=linksByLang[lang]['/'].path)
      include ../icons/stasige-full
      =meta.title[lang]
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      include header/menu
      include header/repo
      include header/langs



