# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage


# source site files
sites/*
!sites/default

# compiled site files: prod mode
dist
# compiled site files: dev mode (local server)
http

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
