# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage


# source site files
sites/*
!sites/default
# compiled site files
www/*


# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
