node_modules/
logs
*.log
npm-debug.log*

# source site files
sites/*
!sites/default
sites/default/deploy.json
#mono
deploy.json

# built files
# builds/
# compiled files: prod andev mode
dist
dist-dev


# editors
.vscode
!.vscode/tasks.js
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
