/*.stamdic-footer {
  background: #c4c7b7;
}*/


.st-footer-link {
  height: 40px;
  svg {
    width: 24px;
    height: 24px;
  }
}


$sz: 128px;

.bottom-logo {
  width: $sz;
  height: $sz;
  background: #0dcaf0 url('../../assets/stamdic-full.svg') no-repeat center center;
  background-size: $sz*0.77 $sz*0.77;
  border-radius: 50%;
}

