doctype html
html(lang="#{lang}")
  include ./partial/head
  body
    include partial/navbar
    div.container-xl.content !{content}
    div.container-xl.content
  include ./partial/footer
include ./partial/modal
