- const getMenuShort = (item) => item.menuShort ?? item.menuLong ?? item.title
- const getMenuLong = (item) => item.menuLong ?? item.menuShort ?? item.title

mixin nav-item(item, path)
  if (item.children.length)
    li.nav-item.dropdown
      a.nav-link.dropdown-toggle(href="#" role='button' data-bs-toggle='dropdown' aria-expanded='false')=getMenuShort(item)
      ul.dropdown-menu
        li
          a.dropdown-item(href=item.path class={disabled: item.path === path})=getMenuLong(item)
        each child in item.children
          li
            a.dropdown-item(href=child.path class={disabled: child.path === path})=getMenuLong(child)
  else
    li.nav-item
      a.nav-link(href=item.path class={disabled: item.path === path})=getMenuShort(item)




