.d-flex.justify-content-around.gap-1.mx-1
  a.icon-link(href=links.github.url title=links.github[lang])
    include ../../icons/github
  a.icon-link(href=links.issues.url title=links.issues[lang])
    include ../../icons/bug-fill
